/* Global Classes */

.visible {
    display: block;
}

.black {
    color: #000 !important;
}


/* Header - Found in all pages, editable on templates/base.html */

.logo {
    height: 300px;
    width: 300px;
}

#logo-image {
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

.navbar {
    padding-top: 20px !important;
}

.burger {
    display: none;
}

.large-screen-navbar {
    display: block;
}

.large-screen-navbar a {
    margin-right: 20px;
}

.navbar li {
    list-style-type: none;
    display: inline;
}

.products-container ul {
    padding-left: 0px;
}

.products-menu-large {
    margin-left: 212.72px;
}

.account-menu-large {
    margin-left: 362.42px;
}

.dropdown-item {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 20px;
}

.custom-navmenu .custom-menu li.active .dropdown-menu .dropdown-item {
    text-decoration: none;
}


/* Footer - Found in all pages, editable on templates/base.html */

.footer .container {
    padding-top: 60px;
}

.facebook:hover {
    background-color:#3b5998;
}

.instagram:hover {
    background-color:#e1306c;
}

.youtube:hover {
    background-color:red;
}

.facebook span:hover,
.youtube span:hover,
.instagram span:hover {
    color: white;
}


/* Homepage home/templates/home/index.html */

h1 b {
    font-size: 40px;
}

.youtube-embed {
    width: 100%;
    height: 400px;
}

.site-portfolio,
.video-section,
.testimonial-section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.site-portfolio {
    background-color: #f9eeae;
}

.video-section {
    background-color: #b599c1;
}

.testimonial-section {
    background-color: #a9d193;
}

.testimonial-wrap {
    background-color: #a9d193;
}

.gallery-image {
    aspect-ratio: 1/1 !important;
}

.fancybox:hover {
    cursor: pointer;
}


/* Contact contact/templates/contact/contact.html */

.contact-section {
    background-color: #d1a9b1;
}

.google-maps-row {
    margin-top: 32px;
}

.contact-info {
    text-decoration: none;
    color: #0d1e2d;
}

.contact-info:hover {
    color: #0d1e2d;
}

.form-control,
.contact-button {
    border-radius: 4px;
}

.contact-button {
    width: 50% !important;
    font-size: 16px;
    margin-left: 25%;
    background-color: white;
    text-align: center;
    transition: all ease 0.5s;
    cursor: pointer;
}


/* Products products/templates/products/products.html, add_product.html */

.products-section,
.add-products-section {
    background-color: #a9d193;
}

br {
    height: 0px;
}

.modal-content {
    background-color: #e9bacc;
}

.edit-product-button,
.cancel-edit-product {
    margin-right: 10px;
}

.edit-product-button span {
    padding-left: 6px;
    padding-right: 6px;
}

.add-to-cart {
    margin-top: 25px;
    font-size: 24px;
}

.carousel-indicators li {
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
}

.carousel-indicators .active {
    background-color: #006fbe;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 50px;
    width: 36px;
    height: 36px;
    background:rgba(255, 255, 255, 0.2);
    color:rgba(255, 255, 255, 0.5);
}

.bi-chevron-left::before {
    content: "\f284";
}

.bi-chevron-right::before {
    content: "\f285";
}

.question-picture {
    height: 300px;
    width: 300px;
    animation: rotation-two 1s infinite linear;
}

@keyframes rotation-two {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

.no-results-text {
    margin-top: 30px;
}

#search-products {
    width: 70%;
}

#search-button {
    background-color: #f5be6b;
}

.add-product-field,
.edit-product-field {
    margin-bottom: 15px !important;
}

.btn-file {
    padding-left: 0px;
}

.add-product-button {
    font-size: 20px;
    margin-top: 10px;
}


/* Accounts templates/allauth/account/*, templates/allauth/socialaccount/* */

.accounts-section {
    background-color:#f9eeae;
}

.accounts-section input {
    margin-bottom: 15px;
}

.accounts-section input[name="login"],
.accounts-section input[name="password"],
.accounts-section input[name="email"],
.accounts-section input[name="email2"],
.accounts-section input[name="username"],
.accounts-section input[name="password1"],
.accounts-section input[name="password2"] {
    border-radius: 4px;
    width: 100%;
}

.fa-eye,
.fa-eye-slash {
    cursor: pointer;
    width: 1.2em;
    position: absolute;
    top: .55rem;
    right: 1.5rem;
}

.login-button {
    font-size: 20px;
}


/* Form Validation */

.wrapper {
    position: relative;
    display: flex;
}

.validation {
    position: absolute;
    top: .55rem;
    right: .7rem;
    opacity: 0;
    color: #fd4444;
    font-size: 28px;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(8px);
    }
    75% {
        transform: translateX(-8px);
    }
}

input:valid,
textarea:valid {
    border-color: #55d688;
}

input:invalid,
textarea:invalid {
    border-color: #fd4444;
}

input:invalid ~ .validation,
textarea:invalid ~ .validation {
    opacity: 1;
}

input:invalid, input:invalid ~ .validation, input:invalid ~ .fa-eye-slash,
textarea:invalid, textarea:invalid ~ .validation {
    animation: shake 0.1635s 0s 3;
}

.button-loading {
    font-size: 0;
    width: 65px !important;
    height: 65px !important;
    border: 2px solid #fff;
    border-radius: 50px;
    border-left-color: transparent;
    animation: rotate 1.4s ease 0.5s infinite;
    background-color: transparent;
    margin-left: 43.5%;
}

.button-loading:hover {
    background-color: transparent;
}

.success {
    border: none;
    position: relative;
    background-color: #d6f9ff;
    animation: bounce .3s ease-in;
}

.success:hover {
    background-color: #d6f9ff;
}

@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%{
        transform: scale(0.9);
    }
}

.success:before {
    content: '';
    position: absolute;
    background: url(heart.svg) no-repeat;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    line-height: 35px;
    top: 15px;
}


/* Media Queries */

@media screen and (max-width: 620px) {
    .burger {
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        height: 250px;
        width: 250px;
    }
}

@media screen and (min-width: 992px) {
    #main-navbar {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .burger {
        display: block;
    }

    .large-screen-navbar {
        display: none;
    }

    .modal-dialog {
        max-width: 100% !important;
        margin: 1.5rem !important;
    }
}