/* Global Classes */

.visible {
    display: block;
}

.black {
    color: #000 !important;
}


/* Header - Found in all pages, editable on templates/base.html */

.logo {
    height: 250px;
    width: 250px;
}

.navbar {
    padding-top: 20px !important;
}

.burger {
    display: none;
}

.large-screen-navbar {
    display: block;
}

.large-screen-navbar a {
    margin-right: 20px;
}

.navbar li {
    list-style-type: none;
    display: inline;
}

.products-container ul {
    padding-left: 0px;
}

.products-menu-large {
    margin-left: 181.23px;
}

.account-menu-large {
    margin-left: 300.67px;
}

.products-menu-small .dropdown-item,
.account-menu-small .dropdown-item,
.home-menu-small .dropdown-item {
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.custom-navmenu .custom-menu li.active .dropdown-menu .dropdown-item {
    text-decoration: none;
}

/* Homepage */

.youtube-embed {
    width: 100%;
    height: 400px;
}

.site-portfolio {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
}

.video-section {
    padding-top: 100px !important;
    padding-bottom: 0px !important;
}

.testimonial-section {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

.testimonial-wrap {
    background-color: #d6f9ff;
}


/* Media Queries */

@media screen and (min-width: 992px) {
    #main-navbar {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .burger {
        display: block;
    }

    .large-screen-navbar {
        display: none;
    }
}