{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<main id="main">

    <section class="section accounts-section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
    
            <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
            

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                <div class="wrapper">
                  <input type="password" name="oldpassword" placeholder="Current Password" autocomplete="current-password" required="" id="id_oldpassword" class="form-control">
                  <div class="validation">*</div>
                </div>
                <div class="wrapper">
                  <input type="password" name="password1" placeholder="New Password" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list" class="form-control">
                  <div class="validation">*</div>
                </div>
                <div class="wrapper">
                  <input type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2" class="form-control">
                  <div class="validation">*</div>
                </div>
                <a class="btn btn-primary login-button" href="{% url 'account_login' %}">Back to Login</a>
                <button class="btn btn-success login-button" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        
          </div>
        </div>
      </div>
    </section>

</main>

{% endblock %}
