{% extends "base.html" %}
{% load static %}

{% block content %}

<main id="main">

<section class="section add-products-section" id="add-products-section">
    <div class="container">
        <div class="row mb-4 align-items-center">
            <div class="col-md-6" data-aos="fade-up">
                <h2>Add a Product</h2>
            </div>
        </div>
        <div class="row no-gutter gy-3" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 form-group">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if 'image' in field.name %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            <div class="wrapper">
                                {{ field }}
                                {% if field.name != 'category' %}
                                    <div class="validation">*</div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn btn-secondary add-product-button" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-primary add-product-button" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

</main><!-- End #main -->

{% endblock %}